.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      if !user
        a.logo(href='/')
          img(src="/img/diam_logo_no_text.png")
      if user
        a.logo(href='/dashboard')
          img(src="/img/diam_logo_no_text.png")
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        //if !user
          li(class=(title == 'Home') ? 'active' : undefined)
            a(href='/') Home
        if user
          li(class=(title == 'Dashboard') ? 'active' : undefined)
            a(href='/dashboard') Dashboard
        if user
          li(class=(title == 'Collections') ? 'active' : undefined)
            a(href='/collections') Collections
        if user
          li(class=(title == 'Settings') ? 'active' : undefined)
            a(href='/settings') Settings
        //li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
        //li
          a(href='/status') Statu

      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.photo(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout


      ul.nav.navbar-nav.navbar-right
        if user
          form.navbar-form(role='search')
            .input-group(data-search)
              input.form-control(type='text', v-bind:placeholder='placeholder', name='q', v-model='query', @keyup="search")
              .panel.panel-default.panel-search
                .panel-body
                  ul.list-group
                    li.list-group-item(v-for="collection in collections")
                      a(v-bind:href="'/collections#'+collection.name")
                        i.fa.fa-folder-o.mr5
                        | {{collection.name}}
                    li.list-group-item(v-for="asset in assets")
                      a(v-bind:href="'/details/asset/'+asset._id")
                        i.fa.mr5(v-bind:class="fileIcons[asset.type]")
                        | {{asset.name}}
              .input-group-btn
                button.btn.btn-default(type='submit')
                  i.fa.fa-search
