extends layout

block content

  h1.bold.mt30 Dashboard

  .row.mt30
    .col-md-5.box
      h3 Collections

      ul.folderlist
        each collection, index in collections

          li
            a(href="/collections#"+collection.name.replace(/\s+/g, '')+"") #{collection.name}


    .col-md-2

    .col-md-5.box.activity
      h3 Your Activity

      table.table.table-striped
        tbody
          tr
            td
              i.fa.fa-cloud-download
            td 19.01.17
            td IMG_12332.jpg
            td
              i.fa.fa-file-image-o
          tr
            td
              i.fa.fa-cloud-download
            td 18.01.17
            td MOV_112.mp4
            td
              i.fa.fa-file-video-o
          tr
            td
              i.fa.fa-cloud-upload
            td 15.01.17
            td Calculation.pdf
            td
              i.fa.fa-file-pdf-o


  .row.mt30.box


      span.btn.btn-primary.fileinput-button.pull-right
        span Add files

      h3 Upload Area



      #actions.row.upload-area
        .col-lg-12.p0(style="background-color: white")
          button.btn.btn-sm.btn-empty.cancel.pull-right(type='reset')
            span Remove all

          button.btn.btn-sm.btn-info.start.pull-right.mr5.ml30(type='submit')
            span Upload all






        .row.upload-assets
          .col-lg-12
            #previews.table.table-striped.files
              #template.file-row
                // This is used as the file preview template
                div
                  span.preview
                    img(data-dz-thumbnail='')
                div
                  p.name(data-dz-name='')
                  strong.error.text-danger(data-dz-errormessage='')
                div
                  p.size(data-dz-size='')
                  .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
                    .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
                div(style="text-align:right")
                  button.btn.btn-primary.start
                    span Start upload
                  button.btn.btn-empty.cancel(data-dz-remove='')
                    span Remove
                  button.btn.btn-danger.delete(data-dz-remove='')
                    span Delete



