extends layout

block content
  h1 Digital Asset Management from ON14
  p.lead made by Dominik Speh, Dirk Englert, Ann-Kathrin Vögele, Elisabeth Ackermann-Jones
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
