@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

h1,h2,h3,h4,h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 20px 0;

}



h1.bold {
  font-weight: 900;
  font-size: 24px;
}


.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}
.mr0 {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px;
}
.mr30 {
  margin-right: 30px;
}
.ml30 {
  margin-left: 30px;
}
.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.df {
  display: flex;
  flex-wrap: wrap;
}
.box {
  border-top: 3px solid $brand-primary;
  border-bottom: 2px solid $grey;
  background-color: $white;
  padding: 30px;
}


body {
  padding-top: 60px;
  margin-bottom: 75px;
  background-color: #e9e9e9;
}

img {
  max-width: 100%;
}
.form-control {
  border-color: $grey
}



// SIGN UP
.status {
  margin-bottom: 50px;

  .col-md-4 {
    background: url("../img/status-line.png") repeat-x top left;
    background-position: left 0px top 10px;

    span, strong {
      opacity: 0.5;
    }
  }

  .col-md-4.active {
    span {
      opacity: 1;
      font-weight: bold;
    }
  }
}
// LOGIN
.gradient {
  background-image: -ms-linear-gradient(left, #EFF6F7 15%, #21C4C8 85%);
  background-image: -moz-linear-gradient(left, #EFF6F7 15%, #21C4C8 85%);
  background-image: -o-linear-gradient(left, #EFF6F7 15%, #21C4C8 85%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15, #EFF6F7), color-stop(85, #21C4C8));
  background-image: -webkit-linear-gradient(left, #EFF6F7 15%, #21C4C8 85%);
  background-image: linear-gradient(to right, #EFF6F7 15%, #21C4C8 85%);
}

.login {

  .sociallogin {
    margin-top: 20px;

    .btn-empty {
      color: $grey;
      background-color: $input-bg;
      border-color: currentColor;
    }
    .btn-empty:hover {
      background-color: $brand-primary;
      color: white;
    }

    i {
      float: left;
      margin-left: 10px;
    }
  }
  .logo {
    width: 320px;
    margin-bottom: 40px;
  }
  h1 {
    font-weight: 300;
    line-height: 1.3;
  }
  h3 {
    font-weight: 300;

  }

}
.footernavi {
  ul, li {
    margin: 0;
    padding:0;
  }

  li {
    display: inline;
    margin-right: 20px;

    a {
      color: $brand-second;
    }
  }
  li:last-child {
    margin-right: 0;
  }
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul{
    margin-bottom: 0;
    color: $brand-second
  }

  .active {
    a{
      font-weight: bold;
    }
  }
}




// DASHBOARD

.folderlist {
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;

    li {
      background-color: $grey;
      list-style: none;
      cursor: pointer;
      padding: 7px;
      transition: background-color 1s, color 1s;

      a {
        display: block;
        font-size: 15px;
        color: $brand-second;

      }
      a:before {
        font-family: 'FontAwesome';
        content: 'ï„”';
        margin-right: 8px;

      }
      a:hover {
        text-decoration: none;
      }
      a:hover:before {
      }
    }

  li:nth-child(2n+0) {
    background: none

  }

  li:hover {
    background-color: $brand-primary;
    a {
      color: $white
    }

  }
}

.activity {

  table {
    margin-bottom: 0;

    td {
      font-size: 15px;
    }
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $grey
  }

  tr td {
    padding: 7px!important;
  }
}
.uploadImage {
  background: url("../img/upload.png") no-repeat top center;

}
.upload-area {
  min-height: 220px;
  border: 1px solid $grey;
  .btn {
    margin: 5px;
  }
  .start, .cancel {
    display: none;
  }

  .preview {
    margin: 0;
    i {
      background-color: $brand-primary;
      color: $white;
      padding: 12px 16px;
      margin: 0;
    }
    img {
      margin: 0;
    }
  }

}

// TAG INPUT
.bootstrap-tagsinput {
  display: none;
  position: absolute;
  margin-top: 4px;

  input {
    min-width: 100px;
  }
}

// DROPZONE UPLOADER
#actions {
  margin: 2em 0;
}

div.table {
  display: table;
}
div.table .file-row {
  display: table-row;

  div.img, div.name, div.size {
    text-align: center;
    padding: 10px 20px;

  }

  div.img {
    width: 100px;
  }

  div.name {
    text-align: left;
    min-width: 350px;
  }

}
div.table .file-row > div {
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  padding: 8px;
}

#total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

#previews .file-row .delete {
  display: none;
}
/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}

//COLLECTION
.collectionlist {
  cursor: pointer;
  padding: 0;
  margin-bottom: 10px;

  h3 {
    margin: 0;
    padding: 30px;

  }
  .date {
    position: absolute;
    left: 800px;
    top: 33px;
    font-size: 15px;
    color: $grey;
    opacity: 0;
    transition: all .5s;


    span {
      margin-left: 10px;
      font-family: "Helvetica Neue", Arial, sans-serif;

    }
  }


  .collectioneditbar {
    position: absolute;
    top: 23px;
    right: 80px;

    .trash, .edit {
      cursor: pointer;
      font-size: 17px;
      opacity: 0;
      transition: all .5s;
      color: white;
      width: 50px;
      text-align: center;

      .fa {
        margin-right: 0;

        &.fa-edit {
          margin-right: -1px;
        }
      }
    }

    .trash {
      margin-left: 5px;
    }

  }

  .collectionresults {
    padding:0 30px;

    .addFiles {
      margin-bottom: 30px;
    }
  }

}

.collectionlist:hover {
    .trash, .edit, .date {
      opacity: 1;
    }

    .date:hover {
      color: $brand-primary
    }

}

.collectionbox {
  height: 170px;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;

  h3 {
    cursor: pointer;
  }

  .date {
    font-size: 15px;
    color: $grey;
    transition: all .5s;
    display: block;
    margin-top: 5px;

    span {
      margin-left: 10px;
      font-family: "Helvetica Neue", Arial, sans-serif;

    }
  }

  .collectioneditbar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;

    .trash, .edit {
      cursor: pointer;
      font-size: 17px;
      opacity: 0;
      transition: all .5s;
      color: white;
      width: 40%;
      text-align: center;
      float: left;

      .fa {
        margin-right: 0;

        &.fa-edit {
          margin-right: -1px;
        }
      }
    }

    .edit {
      margin-left: 30px;
    }

    .trash {
      margin-left: 5px;
    }

  }

  .collectionresults {
    padding:0 30px;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: scroll;
    background-color: $white;
    min-height: 100%;
    max-height: 100%;

    .addFiles {
      margin-bottom: 30px;
    }

    .assets-amount {
      display: none;
    }

    .assetlist {
      li {
        width: 100%;
      }
    }
  }
}

.collectionbox:hover {
  .trash, .edit, .date {
    opacity: 1;
  }

}

.assetlist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;


  li {
    padding: 12px;
    margin: 18px;
    list-style: none;
    border: 1px solid $grey;
    position: relative;
    cursor: pointer;

    h5{
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.5;
      overflow: hidden;
      overflow-wrap: break-word;
    }

    .fileicon {
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img.thumb {
      object-fit: cover;
      width: 100%;
      height: 105px;

    }
    i.thumb {
      width: 100%;
      height: 105px;
      padding:20px 0;
      background-color: $brand-primary;
      color: $white;
    }

    .filetype {
      position: absolute;
      bottom: 10px;
      left: 10px;

      i {
        height:auto;
      }
    }

    .editbar {
      opacity:0;
      transition: opacity .5s;
      background-color: $brand-primary;
      padding: 7px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      a {
        color: $white;
        cursor: pointer;
        margin: 0 10px;


        span {
          margin: 0 5px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
      a:hover {
        text-decoration: none;
        color: $grey
      }
    }

    .taglist {
      span {
        float: left;
        margin: 4px 3px;
      }
    }

  }
  li:hover {
    .editbar {
      opacity:1;
    }
  }
}

// DROPZONE COLLECTIONS
// TODO RESPONSIVE
.modal-dialog.big-dialog {
  width: 980px!important;
  margin: 30px auto;
}
.collectionDropzone {


  div.table .file-row {
    display: table-row;


    div.name {
      min-width: 300px;
    }

  }

  .start, .cancel {
    display: none;
  }
}


// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------
.navbar a.logo {
    display: inline-block;
    margin-top: 7px;
    margin-right: 15px;

    img {
        width: auto;
        height: 35px;
    }
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}


// ASSETS DETAIL
#asset {
  .imageArea {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-right: 1px solid $brand-primary;

    i {
      padding: 50px;
      color: $brand-primary;
    }
    img {
      padding: 20px;

    }
  }

  .assetdetails {
    padding: 0;
    margin: 0;
    list-style: none;

    .tags {

      margin-bottom: 20px;
    }

    li {
      margin-bottom: 7px;
    }
  }
}

// Settings
.whitebox {
  background-color: white;
  padding: 10px;
  margin: 10px;
  max-width: 340px;


}