extends ../layout

block content

  h1.bold.mt30 Collections


  .row.mt30
    .col-md-12.box
      h3 Collection 1
      h5.pull-right 13 Assets
      .row
        ul.assetlist.col-md-12.text-center
          li.col-md-2
            .crop
              img(src="assets/example/platzhalter.jpg")
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            img(src="assets/example/platzhalter2.jpg")
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

          li.col-md-2
            i.fileicon.fa.fa-image.fa-4x
            h5
              i.fa.fa-file-image-o
              | Test.jpg
            .editbar
              a.fa.fa-edit
                span Edit
              a.fa.fa-trash-o
                span Delete

  .row.mt30
    .col-md-5.box
      h3 More Collections


      ul.folderlist
        li
          a() Testordner
        li
          a() Testordner
        li
          a() Testordner

    .col-md-2


    .col-md-5.box.activity
      h3 Your Activity

      table.table.table-striped
        tbody
          tr
            td
              i.fa.fa-cloud-download
            td 19.01.17
            td IMG_12332.jpg
            td
               a Collection 1
          tr
            td
              i.fa.fa-cloud-download
            td 18.01.17
            td MOV_112.mp4
            td
              a Collection 2
          tr
            td
              i.fa.fa-cloud-upload
            td 15.01.17
            td Calculation.pdf
            td
              a Collection 1



