extends ../layout

block content

  .row.mt30
    .col-md-10.p0
      h1.bold Collections
    .col-md-2.p0
      button.btn.btn-primary.pull-right(type='button', data-toggle='modal', data-target='#addCollection')
        | Add collection



  .row.mt30

    if collections.length != 0

      each collection, index in collections

        .col-md-12.box.collectionlist
          h3(data-toggle='collapse', data-target= '#'+collection.name.replace(/\s+/g, '')+'-'+index)
            | #{collection.name}
            i.fa.fa-caret-down

          div(id = collection.name.replace(/\s+/g, '')+'-'+index).collapse.collectionresults
            .row
              ul.assetlist.col-md-12.text-center
                li.col-md-2
                  img(src="assets/example/platzhalter.jpg")
                  h5
                    i.fa.fa-file-image-o
                    | Test.jpg
                  .editbar
                    a.fa.fa-edit
                      span Edit
                    a.fa.fa-trash-o
                      span Delete

                li.col-md-2
                  img(src="assets/example/platzhalter2.jpg")
                  h5
                    i.fa.fa-file-image-o
                    | Test.jpg
                  .editbar
                    a.fa.fa-edit
                      span Edit
                    a.fa.fa-trash-o
                      span Delete

                li.col-md-2
                  i.fileicon.fa.fa-image.fa-4x
                  h5
                    i.fa.fa-file-image-o
                    | Test.jpg
                  .editbar
                    a.fa.fa-edit
                      span Edit
                    a.fa.fa-trash-o
                      span Delete


    else
      .col-md-12.box
        h2 No collection exists
        p Please add some








  // MODALS
  #addCollection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Add a collection
        .modal-body
          form(method='POST' action='/collections/add')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input.form-control(type='text', name='name', id='name', placeholder='Collection Title', autofocus, required)
            .form-group
              button.btn.btn-primary(type='submit')
                | Add collection


