extends ../layout

block content

    #search-full(data-search-full)

        .row.mt30
            .col-md-12.p0
                h1.bold Search
        .row.mt30
            .col-md-12
                input.form-control(type='text', v-bind:placeholder='placeholder', name='q', v-model='query', autocomplete="off")
        .row.mt10
            .col-md-12
                ul.list-group
                    li.list-group-item(v-for="collection in collections")
                        a(v-bind:href="'/collections#'+noSpaces(collection.name)")
                            i.fa.fa-folder-o.mr5
                            | {{collection.name}}
                    li.list-group-item(v-for="asset in assets")
                        .row
                            .col-md-4
                                a(v-bind:href="'/details/asset/'+asset._id")
                                    i.fa.mr5(v-bind:class="fileIcons[asset.type]")
                                    | {{asset.name}}
                            .col-md-4
                                span in:
                                    a(v-bind:href="'/collections#'+noSpaces(asset._collectionId.name)")
                                        | {{asset._collectionId.name}}
                            .col-md-4
                                .taglist
                                    i.tag.label.label-primary(v-for="tag in splitTags(asset.tags)") {{tag}}



